doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://www.gstatic.com/firebasejs/3.1.0/firebase.js')
    script(src='/javascripts/firebase_init.js')
    script(src='/javascripts/ga.js')

  body
    block content
